<div class="my-20 dark:bg-[#011627] ">
    <div class="flex justify-between items-center w-full contact-heading hidden">
        <div class="flex w-3/4 items-center lg:gap-6">
            <div class="font-semibold text-xl text-[#43D9AD]">#contact me</div>
            <span class="line w-2/3 h-1 bg-gradient-to-r from-[#43D9AD] to-[#011627] rounded-full"></span>
        </div>
        <button type="button" class="animated-gradient-text gradient_border  text-right">
        </button>
    </div>


    <div class="flex justify-between w-full flex-wrap lg:mt-16 lg:bg-black lg:py-20 py-10 rounded-md contact-section">
        <div class="w-[50%] flex justify-center items-center">
            <video src="../../../../assets/images/globevideo.mp4" autoplay loop></video>
        </div>
        <div class=" contact-text text-gray-100 lg:!w-1/2 sm:!w-full flex flex-col gap-3">
            <p class="dark:text-gray-300 sm:w-2/3 w-full m-auto text-left">
                I’m interested in freelance opportunities. However, if you have other request or question, don’t
                hesitate to contact me
            </p>

            <form action="" class="lg:w-2/3 w-full lg:px-0 lg:mx-auto contact-form">
                <div class="pb-2 pt-4 w-full">
                    <input type="name" name="name" id="name" placeholder="Name"
                        class="block w-full p-4 text-lg rounded-sm bg-[#011221] lg:bg-[#011627]">
                </div>
                <div class="pb-2 pt-4 w-full">
                    <input class="block w-full p-4 text-lg rounded-sm bg-[#011221]  lg:bg-[#011627]" type="email"
                        name="email" id="email" placeholder="Email">
                </div>
                <div class="pb-2 pt-4 w-full">
                    <textarea class="block w-full p-4 text-lg rounded-sm bg-[#011221]  lg:bg-[#011627]" name="message"
                        id="message" placeholder="Feedback...."></textarea>
                </div>

                <div class=" pt-4 w-full">
                    <button
                        class="block rounded-lg lg:w-full text-[16px] bg-[#75ddbe] hover:bg-[#3C9D93] border-2 border-[#75ddbe] py-4 px-7 text-center align-middle text-[#011627] shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-green-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none focus:outline-none">Send</button>
                </div>


            </form>
        </div>
    </div>

</div>