<div id="contactSection" class="my-20 dark:bg-[#011627] ">
    <div class="flex justify-between items-center w-full contact-heading hidden">
        <div class="flex w-3/4 items-center lg:gap-6">
            <div class="font-semibold text-xl text-[#43D9AD]">#contact me</div>
            <span class="line w-2/3 h-1 bg-gradient-to-r from-[#43D9AD] to-[#011627] rounded-full"></span>
        </div>
        <button type="button" class="animated-gradient-text gradient_border  text-right">
        </button>
    </div>


    <div class="flex justify-between w-full flex-wrap lg:mt-16 lg:bg-black lg:py-20 py-10 rounded-md contact-section">
        <div class="w-[50%] flex justify-center items-center">
            <video src="../../../../assets/images/globevideo.mp4" autoplay loop></video>
        </div>
        <div class=" contact-text text-gray-100 lg:!w-1/2 sm:!w-full flex flex-col gap-3">
            <p class="dark:text-gray-300 sm:w-2/3 w-full m-auto text-left">
                I’m interested in freelance opportunities. However, if you have other request or question, don’t
                hesitate to contact me
            </p>

            <form [formGroup]="messageForm" (ngSubmit)=" submitMessage()"
                class="lg:w-2/3 w-full lg:px-0 lg:mx-auto contact-form">
                <div class="pb-2 pt-4 w-full">
                    <input type="name" name="name" id="name" placeholder="Name" formControlName="name"
                        class="block w-full p-3 text-lg rounded-sm bg-[#011221] lg:bg-[#011627]">

                    <div *ngIf="messageForm.controls['name'].invalid && messageForm.controls['name'].touched"
                        class="mt-2 text-sm text-red-600" role="alert">
                        <div *ngIf="messageForm.controls['name'].errors?.['required']">Name is
                            required.</div>
                    </div>
                </div>
                <div class="pb-2 pt-4 w-full">
                    <input class="block w-full p-3 text-lg rounded-sm bg-[#011221]  lg:bg-[#011627]" type="email"
                        formControlName="email" name="email" id="email" placeholder="Email">

                    <div *ngIf="messageForm.controls['email'].invalid && messageForm.controls['email'].touched"
                        class="mt-2 text-sm text-red-600" role="alert">
                        <div *ngIf="messageForm.controls['email'].errors?.['required']">Email is
                            required.</div>
                        <div *ngIf="messageForm.controls['email'].errors?.['invalidFormat']">Please enter
                            a valid email address.</div>
                    </div>
                </div>
                <div class="pb-2 pt-4 w-full">
                    <textarea class="block w-full p-4 text-lg rounded-sm bg-[#011221]  lg:bg-[#011627]" name="message"
                        formControlName="message" id="message" placeholder="Feedback...."></textarea>
                </div>

                <div class=" pt-4 w-full">
                    <button
                        class="bg-[#43D9AD] font-semibold text-[18px] hover:bg-[#5bf1c4] text-[#010C15] w-full justify-center text-center  rounded-lg shadow px-10 py-3 flex items-center">
                        <i class="ri-send-plane-fill"></i>&nbsp; Submit</button>
                </div>

                <!-- Error Message Display -->
                <!-- <div *ngIf="errorMSG" class="mt-4 alert alert-danger">
                    {{ errorMSG }}
                </div> -->

                <ng-container>


                    <div *ngIf="succesMSG.success === true" class="mt-4 alert alert-success">
                        {{ succesMSG.message }}
                    </div>
                    <div *ngIf="succesMSG.success === false" class="mt-4 alert alert-danger">
                        {{ succesMSG.message }}
                    </div>
                </ng-container>


            </form>
        </div>
    </div>

</div>