<section class="relative isolate overflow-hidden my-20 dark:bg-[#011627]">
    <div class="flex justify-between items-center w-full ">
        <div class="flex w-3/4 items-center lg:gap-6">
            <div class="font-semibold text-xl text-[#43D9AD]">#About me</div>
            <span class="line w-2/3 h-1 bg-gradient-to-r from-[#43D9AD] to-[#011627] rounded-full"></span>
        </div>
        <button type="button" class="animated-gradient-text gradient_border  text-right">
            <!-- <i class="ri-arrow-right-line"></i> -->
        </button>
    </div>


    <div class="flex gap-6 justify-between about-me w-full flex-wrap mt-16">

        <div class=" about-text dark:text-gray-300 lg:!w-1/2 sm:!w-full flex flex-col gap-3">
            <p class="w-full">
                {{dataToShow.selfinto}}...<span class="text-blue-400 cursor-pointer">ReadMore</span>
            </p>
        </div>

        <div class="w-[40%] flex justify-center items-center about-video ">
            <div
                class="flex flex-col w-[28rem] shadow-sm rounded-xl  dark:bg-[#011221] dark:border-[#1E2D3D] dark:shadow-neutral-700/70">
                <img src="../../../../assets/images/html-css-collage-concept.jpg" alt="code snippet">
                <!-- <video src="../../../../assets/images/codingvideo.mp4" autoplay loop> -->


                <!-- </video> -->



            </div>
        </div>


    </div>


</section>