<section class="relative isolate overflow-hidden my-20 dark:!bg-[#011627]">
    <div class="flex justify-between items-center w-full ">
        <div class="flex w-3/4 items-center lg:gap-6">
            <div class="font-semibold text-xl text-[#43D9AD]">#Skills</div>
            <span class="line w-2/3 h-1 bg-gradient-to-r from-[#43D9AD] to-[#011627] rounded-full"></span>
        </div>
        <button type="button" class="animated-gradient-text gradient_border  text-right">
            <!-- <i class="ri-arrow-right-line"></i> -->
        </button>
    </div>

    <div class="flex  flex-wrap gap-11 mt-16">

        <div
            class="flex flex-col w-72  border shadow-sm rounded-xl  dark:bg-[#011221] dark:!border-[#1E2D3D] dark:shadow-neutral-700/70">
            <div class=" border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5 dark:bg-[#1C2B3A] dark:border-[#1E2D3D]">
                <p class="mt-1 text-sm text-gray-500 dark:text-[#FFFFFF]">
                    Language
                </p>
            </div>
            <div class="p-4 md:p-5">

                <div class="flex gap-3 flex-wrap">
                    <p class=" text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        JavaScript
                    </p>
                    <p class=" text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        Java
                    </p>
                    <p class=" text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        TypeScript
                    </p>
                </div>
            </div>
        </div>

        <div
            class="flex flex-col w-72 border shadow-sm rounded-xl  dark:bg-[#011221] dark:!border-[#1E2D3D] dark:shadow-neutral-700/70">
            <div class=" border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5 dark:bg-[#1C2B3A] dark:border-[#1E2D3D]">
                <p class="mt-1 text-sm text-gray-500 dark:text-[#FFFFFF]">
                    Tools
                </p>
            </div>
            <div class="p-4 md:p-5">

                <div class="flex gap-3 flex-wrap">
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        VS Code
                    </p>
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        Figma
                    </p>
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        GitHub
                    </p>
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        Word
                    </p>
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        Excel
                    </p>
                </div>
            </div>
        </div>

        <div
            class="flex flex-col w-72 border shadow-sm rounded-xl  dark:bg-[#011221] dark:!border-[#1E2D3D] dark:shadow-neutral-700/70">
            <div class=" border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5 dark:bg-[#1C2B3A] dark:border-[#1E2D3D]">
                <p class="mt-1 text-sm text-gray-500 dark:text-[#FFFFFF]">
                    Framework
                </p>
            </div>
            <div class="p-4 md:p-5">

                <div class="flex gap-3 flex-wrap">
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        React Basics
                    </p>
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        Angular
                    </p>
                </div>
            </div>
        </div>

        <div
            class="flex flex-col w-72 border shadow-sm rounded-xl  dark:bg-[#011221] dark:!border-[#1E2D3D] dark:shadow-neutral-700/70">
            <div class=" border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5 dark:bg-[#1C2B3A] dark:border-[#1E2D3D]">
                <p class="mt-1 text-sm text-gray-500 dark:text-[#FFFFFF]">
                    Database
                </p>
            </div>
            <div class="p-4 md:p-5">

                <div class="flex gap-3 flex-wrap">
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        SQL
                    </p>
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        MongoDB
                    </p>
                </div>
            </div>
        </div>

        <div
            class="flex flex-col w-72 border shadow-sm rounded-xl  dark:bg-[#011221] dark:!border-[#1E2D3D] dark:shadow-neutral-700/70">
            <div class=" border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5 dark:bg-[#1C2B3A] dark:border-[#1E2D3D]">
                <p class="mt-1 text-sm text-gray-500 dark:text-[#FFFFFF]">
                    Others
                </p>
            </div>
            <div class="p-4 md:p-5">

                <div class="flex gap-3 flex-wrap">
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        HTML
                    </p>
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        CSS
                    </p>
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        Tailwindcss
                    </p>
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        Bootstrap
                    </p>
                    <p class="text-gray-500 dark:text-[#607B96] bg-[#1E2D3D] px-2 py-1 rounded-full">
                        API Intigrations
                    </p>
                </div>
            </div>
        </div>





    </div>
</section>