/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'remixicon/fonts/remixicon.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Fira Code", monospace, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    a {

        text-decoration: none !important;
    }

}

.modal-35 .modal-dialog {
    max-width: 70rem !important;
    margin: 4rem auto !important;
}

.modal-35 .modal-dialog>.modal-content {
    width: 100% !important;
    height: 100% !important;
    border-radius: 1rem !important;
    border-width: 0rem;
    background-color: #fff;
    display: block;
}

.font-class {
    font-family: Arial, Helvetica, sans-serif !important;
}

strong {
    color: #259ca0 !important;
}


// @import 'bootstrap/scss/bootstrap';